.rectangle-shape-child {
  position: relative;
  background-color: var(--azul-oscuro);
  width: 243px;
  height: 1024px;
  display: none;
}
.water {
  color: var(--color-gray-100);
}
.smartwater {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.ellipse-ellipse {
  position: absolute;
  top: 0;
  left: 4px;
  border-radius: var(--br-8xs);
  background-color: var(--blanco);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-frame-child {
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-royalblue-100);
  width: 7px;
  height: 24px;
  z-index: 2;
}
.frame-frame {
  position: absolute;
  margin: 0 !important;
  top: -12px;
  left: -11px;
  width: 222px;
  height: 42px;
}
.house-solid-1-icon1 {
  position: relative;
  width: 24px;
  height: 21.3px;
  overflow: hidden;
  flex-shrink: 0;
}
.inicio1 {
  position: relative;
  line-height: 100%;
}
.house-solid-1-group {
  width: 155px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  color: var(--color-gray-400);
}
.group-group-group-group-group {
  align-self: stretch;
  position: relative;
  max-height: 100%;
  width: 30px;
  min-height: 24px;
}
.clientes {
  position: relative;
  font-weight: 600;
}
.bs-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.vector-icon {
  align-self: stretch;
  position: relative;
  max-height: 100%;
  width: 18px;
  min-height: 24px;
}
.mapa-de-clientes {
  position: relative;
  font-weight: 600;
}
.bs-frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.envio-cronometrado-1-icon {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.distribuidores,
.monitoreo-de {
  margin: 0;
}
.monitoreo-de-distribuidores-container {
  position: relative;
  font-weight: 600;
}
.envio-cronometrado-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.vector-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  min-height: 24px;
}
.ventas {
  position: relative;
  font-weight: 600;
}
.bs-frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.file-invoice-dollar-solid-1-icon {
  position: relative;
  width: 22.5px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.pedidos {
  position: relative;
  font-weight: 600;
}
.daniela-ayala-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.vector-icon2 {
  position: relative;
  width: 21.8px;
  height: 24px;
  min-height: 24px;
}
.prstamos {
  position: relative;
  font-weight: 600;
}
.bs-frame3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.vector-icon3 {
  position: relative;
  width: 22px;
  height: 22px;
  min-height: 22px;
}
.finanzas {
  position: relative;
  font-weight: 600;
}
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.mdichevron-down-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.frame-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-set-icon {
  position: relative;
  width: 24px;
  height: 22.7px;
  min-height: 23px;
}
.reportes {
  position: relative;
  font-weight: 600;
}
.julio-espinoza-vector,
.julio-espinoza-vector-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.julio-espinoza-vector {
  align-items: flex-start;
  gap: var(--gap-mini);
}
.julio-espinoza-vector-wrapper {
  align-items: center;
}
.mdichevron-down-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-icon {
  position: relative;
  width: 24px;
  height: 25.5px;
}
.configuracin {
  position: relative;
  font-weight: 600;
}
.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.mdichevron-down-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.moneycheckdollarsolid-frame,
.text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.moneycheckdollarsolid-frame {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  z-index: 2;
}
.text-frame,
.vector-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vector-frame {
  justify-content: center;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--blanco);
  font-family: var(--font-poppins);
}
.text-frame {
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-2xs);
  gap: var(--gap-14xl);
}
.right-from-bracket-solid-1-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.salir {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-dm-sans);
  color: var(--negro);
  text-align: center;
}
.rectangle-shape1,
.vistarapida {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.vistarapida {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--blanco);
  border-radius: var(--br-xl);
  width: 140px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.vistarapida:hover {
  background-color: var(--color-gainsboro);
}
.rectangle-shape1 {
  margin: 0 !important;
  position: absolute;
  bottom: -629px;
  left: -179px;
  background-color: var(--azul-oscuro);
  width: 243px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-smi) var(--padding-80xl)
    var(--padding-5xs);
  gap: var(--gap-259xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-cornflowerblue);
  font-family: var(--font-baloo-bhai-2);
}
@media screen and (max-width: 450px) {
  .smartwater {
    font-size: var(--font-size-lgi);
  }
}
